:root {
  --title-color: #7f5283;
  --text-color: #3d3c42;
  --highlights: #a6d1e6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fefbf6;
  font-family: sans-serif;
  margin: 15px;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
}

nav a:link {
  display: inline-block;
  margin-right: 30px;
}

nav a:link:first-child {
  margin-left: 0;
}

nav a:link:last-child {
  margin-right: 0;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h2::before {
  background-color: #ffe70e;
  color: #444;
  content: "TOP";
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  right: -25px;
  top: -10px;
}

h3 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

p {
  font-size: 20px;
  line-height: 1.5;
  color: var(--text-color);
  margin-bottom: 5px;
}

ul,
ol {
  margin-left: 40px;
  margin-bottom: 10px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

a:link {
  color: var(--highlights);
  text-decoration: none;
}

a:visited {
  color: var(--highlights);
}

/* article {
  flex: 1;
  margin-bottom: 0px;
} */

aside {
  background-color: #fcf2e2;
  border-top: 5px solid var(--highlights);
  border-bottom: 5px solid var(--highlights);

  padding: 40px 30px;
}

footer {
  font-size: 16px;
  grid-column: 1 / -1;
}

.container {
  align-items: start;
  column-gap: 75px;
  display: grid;
  grid-template-columns: 1fr 300px;
  margin: 0 auto;
  row-gap: 60px;
  width: 1200px;
}

.main-header {
  align-items: center;
  background: #fcf2e2;
  display: flex;
  grid-column: 1 / -1;
  height: 80px;
  justify-content: space-between;
  padding: 20px;
}

.post-header {
  margin-bottom: 25px;
  position: relative;
}

.author-box {
  align-items: center;
  display: flex;
  margin-bottom: 15px;
}

.author {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  margin-left: 15px;
}

.post-img {
  width: 100%;
  height: auto;
}

.related {
  list-style: none;
  margin: 0;
}

.related-post {
  align-items: center;
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.related-link:link {
  display: block;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
}

.related-author {
  margin: 0;
  font-size: 14px;
  font-style: italic;
}
