:root {
  --title-color: #7f5283;
  --text-color: #3d3c42;
  --highlights: #a6d1e6;
}

body {
  background-color: #fefbf6;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
}

p {
  font-size: 22px;
  line-height: 1.5;
  color: var(--text-color);
}

li {
  font-size: 20px;
}

a:link {
  color: var(--highlights);
  text-decoration: none;
}

a:visited {
  color: var(--highlights);
}

footer {
  font-size: 16px;
}

aside {
  border-top: 5px solid var(--highlights);
  border-bottom: 5px solid var(--highlights);
}

.related {
  list-style: none;
}

.related-author {
  display: inline;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
